<!DOCTYPE html>
<html lang="en">
<head>
	<title>SignIn</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-signin-client_id" content="613815379048-dgk5tdg0n3nck4f8lgde2u0kaq9qicb4.apps.googleusercontent.com">
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="../static/signin/images/icons/favicon.ico"/> -->
	<link rel="icon" type="image/png" href="{{url_for('static', filename='signin/images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/signin/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/signin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/signin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/signin/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/signin/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/signin/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/signin/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/signin/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/signin/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/signin/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/signin/images/bg-02.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
					<span class="login100-form-title p-b-53">
						Sign In
					</span>
					<p align="center">
						<a class="btn-google m-b-20" href="{{url_for(app.google_login)}}">
							<img src="../static/signin/images/icons/icon-google.png" alt="GOOGLE">
							Google Login
						</a>
					</p>
					<!-- <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div> -->
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/signin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/signin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/signin/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/signin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/signin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/signin/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/signin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/signin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/signin/js/main.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<!-- <script src="https://apis.google.com/js/platform.js"></script> -->

</body>
</html>